<?php $_code=$this->getMethodCode() ?>

<dd>
	<ul style="display:none;" id="payment_form_<?php echo $_code;?>" class="form-list">

	<?php
 
 if(Mage::getSingleton('customer/session')->isLoggedIn())
{ 
		 
		$customerEmail = Mage::getSingleton('customer/session')->getCustomer()->getEmail();
		$customerEmail = trim($customerEmail); 
			
		$resource = Mage::getSingleton('core/resource');
		$read= $resource->getConnection('core_read');
		$moreccTable = $resource->getTableName('morecc');

		$select = $read->select()
		->from($moreccTable,array('morecc_id','email','number','profile_id','pay_id'))
		//->where('email=?',$customerEmail) ;
		->where('email="'.$customerEmail.'" and number != ""') ;
		$morecc = $read->fetchRow($select); 
	
		 $connection = Mage::getSingleton('core/resource')
							->getConnection('core_write');	 
		$query = "select * from ".$moreccTable. " where email='".$customerEmail."' and number != '' " ;
		$moreccArr = $connection->fetchAll($query);			
			
	if(isset($moreccArr) && $moreccArr != "" && count($moreccArr) >0 )
	{
		$quote = Mage::getSingleton('checkout/session')->getQuote();
		$items = $quote->getAllVisibleItems();
		$isProductInCart = false;
		foreach($items as $_item) {
		    if(Mage::helper('levementum_catalog')->isSkuOotmc($_item->getSku())){
		        $isProductInCart = true;
		        break;
		    }
		}
		if ($isProductInCart) {
			echo "For security reasons. You will need to re-enter your Credit Card info for Oil of the Month subscriptions.<br>";
		}else{
	?>
		<li>
			<input type="radio" class="radio" onclick="showCC()" title="test" name="auth_payment_radio[method]" value="acimpro_set" id="p_method_acimpro_set"/> Select Credit card
			
			<ul class="form-list" id="payment_form_set_<?php echo $_code ?>" style="display:none;">
				<li>
					<label for="<?php echo $_code ?>_cc_type_set" class="required"><em>*</em><?php echo $this->__('Select Credit Card') ?></label>
					<div class="input-box">
						<select id="<?php echo $_code ?>_cc_type_set" name="payment_set[cc_type]" class="required-entry">
							<option value=""><?php echo $this->__('--Please Select--')?></option>
							<?php foreach($moreccArr as $morecc){?>
								<option value="<?php echo $morecc['pay_id']; ?>"><?php echo $morecc['number'] ?></option>
							<?php } ?> 
						</select>
					</div>
				</li>
			</ul>
			
		</li>
<?php } ?>


	 
		<li>
			<input type="radio" class="radio" onclick="showAlreadyPaymethod()" title="test" name="auth_payment_radio[method]" value="acimpro_already" id="p_method_acimpro_already"/>
			Enter Credit Card Info
		</li>
		
				
				
		<ul class="form-list" id="select_payment_form_<?php echo $_code ?>" style="display:none;">
	<?php }  } ?>
			
			<li>
				<label for="<?php echo $_code ?>_cc_type" class="required"><em>*</em><?php echo $this->__('Credit Card Type') ?></label>
				<div class="input-box">
					<select id="<?php echo $_code ?>_cc_type" name="payment[cc_type]" class="required-entry validate-cc-type-select">
						<option value=""><?php echo $this->__('--Please Selects--')?></option>
					<?php $_ccType = $this->getInfoData('cc_type') ?>
					<?php foreach ($this->getCcAvailableTypes() as $_typeCode => $_typeName): ?>
						<option value="<?php echo $_typeCode ?>"<?php if($_typeCode==$_ccType): ?> selected="selected"<?php endif ?>><?php echo $_typeName ?></option>
					<?php endforeach ?>
					</select>
				</div>
			</li>
			<li>
				<label for="<?php echo $_code ?>_cc_number" class="required"><em>*</em><?php echo $this->__('Credit Card Number') ?></label>
				<div class="input-box">
					<input type="text" id="<?php echo $_code ?>_cc_number" name="payment[cc_number]" title="<?php echo $this->__('Credit Card Number') ?>" class="input-text validate-cc-number validate-cc-type" value="" />
				</div>
			</li>
			<li id="<?php echo $_code ?>_cc_type_exp_div">
				<label for="<?php echo $_code ?>_expiration" class="required"><em>*</em><?php echo $this->__('Expiration Date') ?></label>
				<div class="input-box">
					<div class="v-fix">
						<select id="<?php echo $_code ?>_expiration" name="payment[cc_exp_month]" class="month validate-cc-exp required-entry">
						<?php $_ccExpMonth = $this->getInfoData('cc_exp_month') ?>
						<?php foreach ($this->getCcMonths() as $k=>$v): ?>
							<option value="<?php echo $k?$k:'' ?>"<?php if($k==$_ccExpMonth): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
						<?php endforeach ?>
						</select>
					</div>
					<div class="v-fix">
						<?php $_ccExpYear = $this->getInfoData('cc_exp_year') ?>
						<select id="<?php echo $_code ?>_expiration_yr" name="payment[cc_exp_year]" class="year required-entry">
						<?php foreach ($this->getCcYears() as $k=>$v): ?>
							<option value="<?php echo $k?$k:'' ?>"<?php if($k==$_ccExpYear): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
						<?php endforeach ?>
						</select>
					</div>
				</div>
			</li>
			<?php echo $this->getChildHtml() ?>
			<?php if($this->hasVerification()): ?>
			<li id="<?php echo $_code ?>_cc_type_cvv_div">
				<label for="<?php echo $_code ?>_cc_cid" class="required"><em>*</em><?php echo $this->__('Card Verification Number') ?></label>
				<div class="input-box">
					<div class="v-fix">
						<input type="text" title="<?php echo $this->__('Card Verification Number') ?>" class="input-text cvv required-entry validate-cc-cvn" id="<?php echo $_code ?>_cc_cid" name="payment[cc_cid]" value="" />
					</div>
					<a href="#" class="cvv-what-is-this"><?php echo $this->__('What is this?') ?></a>
				</div>
			</li>
			<?php endif; ?>

			<?php if ($this->hasSsCardType()): ?>
			<li id="<?php echo $_code ?>_cc_type_ss_div">
				<ul class="inner-form">
					<li class="form-alt"><label for="<?php echo $_code ?>_cc_issue" class="required"><em>*</em><?php echo $this->__('Switch/Solo/Maestro Only') ?></label></li>
					<li>
						<label for="<?php echo $_code ?>_cc_issue"><?php echo $this->__('Issue Number') ?>:</label>
						<span class="input-box">
							<input type="text" title="<?php echo $this->__('Issue Number') ?>" class="input-text validate-cc-ukss cvv" id="<?php echo $_code ?>_cc_issue" name="payment[cc_ss_issue]" value="" />
						</span>
					</li>

					<li>
						<label for="<?php echo $_code ?>_start_month"><?php echo $this->__('Start Date') ?>:</label>
						<div class="input-box">
							<div class="v-fix">
								<select id="<?php echo $_code ?>_start_month" name="payment[cc_ss_start_month]" class="validate-cc-ukss month">
								<?php foreach ($this->getCcMonths() as $k=>$v): ?>
									<option value="<?php echo $k?$k:'' ?>"<?php if($k==$this->getInfoData('cc_ss_start_month')): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
								<?php endforeach ?>
								</select>
							</div>
							<div class="v-fix">
								<select id="<?php echo $_code ?>_start_year" name="payment[cc_ss_start_year]" class="validate-cc-ukss year">
								<?php foreach ($this->getSsStartYears() as $k=>$v): ?>
									<option value="<?php echo $k?$k:'' ?>"<?php if($k==$this->getInfoData('cc_ss_start_year')): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
								<?php endforeach ?>
								</select>
							</div>
						</div>
					</li>
					<li class="adv-container">&nbsp;</li>
					
				</ul>
				<script type="text/javascript">
				//<![CDATA[
				var SSChecked<?php echo $_code ?> = function() {
					var elm = $('<?php echo $_code ?>_cc_type');
					if (['SS','SM','SO'].indexOf(elm.value) != -1) {
						$('<?php echo $_code ?>_cc_type_ss_div').show();
					} else {
						$('<?php echo $_code ?>_cc_type_ss_div').hide();
					}
				};

				Event.observe($('<?php echo $_code ?>_cc_type'), 'change', SSChecked<?php echo $_code ?>);
				SSChecked<?php echo $_code ?>();
				//]]>
				</script>
			</li>
			<?php endif; ?>

<?php 
	if(Mage::getSingleton('customer/session')->isLoggedIn() && isset($isProductInCart) && !$isProductInCart)
	{ 	
?>
			<li>
				<input type="checkbox" name="placecard" id="placecard" value="1" style="float:left;margin:2px 5px 0 0;" /> 
				
				<label><?php echo $this->__('Place Card on File') ?></label>
				<!--<a href="#" class="cvv-what-is-this__" onclick="showPlaceCardMsg();"><?php echo $this->__('What is this?') ?></a>-->
				<div onclick="showPlaceCardMsg();"><a href="javascript:void(0);" style="margin-left:4px;"><?php echo $this->__('What is this?');?></a></div>
			</li>
	<?php } ?>

	<?php
		if(!Mage::getSingleton('customer/session')->isLoggedIn()){
			echo "You must be logged in to save a card on file.";
		} 
	?>
	
		<?php if(isset($morecc) && $morecc != "" && count($morecc) >0 ) {	?>
		</ul>
		<?php } ?>

	</ul>
</dd>

<div style="top:190px;width:200px; margin-right:150px;display: none; background-color:#FFFFFF;" id="place_card_tool_tip" class="tool-tip">
    <div class="btn-close">
		<span title="Close" id="place_card_tool_tip_close" onclick="hidePlaceCardMsg();">
			<a href="javascript:void(0);"><?php echo $this->__('Close');?></a>
		</span>

	</div>
    <div class="tool-tip-content">
		<?php 
			echo $this->__('It will allow your card to place on file so in future you will not have to re-enter the card.Just simply select the card and checkout!');
		?>
	</div>
</div>

<script>

//document.getElementById('p_method_acimpro_set').disabled=false;
//document.getElementById('p_method_acimpro_already').disabled=false;

/*	 document.observe('dom:loaded', function() {
	  $('p_method_acimpro').observe('click', function(e)    {
		document.getElementById('payment_form_set_acimpro').style.display = 'block';
	   });
	});
*/	
	function showCC()
	{
		document.getElementById('payment_form_set_acimpro').style.display = 'block';
		document.getElementById('select_payment_form_acimpro').style.display = 'none';
	}
	
	function showAlreadyPaymethod()
	{
		document.getElementById('select_payment_form_acimpro').style.display = 'block';
		document.getElementById('payment_form_set_acimpro').style.display = 'none';
	}
</script>

<script type="text/javascript">
//<![CDATA[
    function togglePlaceCardToolTip(event){
        if($('place_card_tool_tip')){
            $('place_card_tool_tip').setStyle({
                top: (Event.pointerY(event)-560)+'px'//,
                //left: (Event.pointerX(event)+100)+'px'
            })
            $('place_card_tool_tip').toggle();
        }
        Event.stop(event);
    }
    if($('place_card_tool_tip_close1')){
        //Event.observe($('place_card_tool_tip_close'), 'click', togglePlaceCardToolTip);
		document.getElementById('place_card_tool_tip').style.display = 'none';
    }
	
	function showPlaceCardMsg()
	{
		//Event.observe($('place_card_tool_tip'), 'click', togglePlaceCardToolTip);
		//$('place_card_tool_tip').toggle();
		document.getElementById('place_card_tool_tip').style.display = 'block';
	}
	function hidePlaceCardMsg()
	{
		document.getElementById('place_card_tool_tip').style.display = 'none';
	}
//]]>
</script>