<?php 	

	$id     = $this->getRequest()->getParam('id');
	$model  = Mage::getModel('morecc/morecc')->load($id);
	$customerPayprofileId = $model->getPayId();

?>

<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="page-title">
    <h1><?php echo Mage::helper('morecc')->__('Contact Us') ?></h1>
</div>
<form action="<?php echo Mage::getBaseUrl('web');?>index.php/morecc/index/updatePaymentProfile/" id="authForm" method="post">
    <div class="fieldset">
        <h2 class="legend"><?php echo Mage::helper('morecc')->__('Contact Information') ?></h2>
			<ul class="form-list">
				<li class="fields">
					<div class="field">
						<label for="name" class="required"><em>*</em><?php echo Mage::helper('morecc')->__('First Name') ?></label>
						<div class="input-box">
							<input name="first_name" id="first_name" title="<?php echo Mage::helper('morecc')->__('First Name') ?>" value="" class="input-text required-entry" type="text" />
						</div>
					</div>
				</li>
				
				<li class="fields">
					<div class="field">
						<label for="name" class="required"><em>*</em><?php echo Mage::helper('morecc')->__('Last Name') ?></label>
						<div class="input-box">
							<input name="last_name" id="last_name" title="<?php echo Mage::helper('morecc')->__('Last Name') ?>" value="" class="input-text required-entry" type="text" />
						</div>
					</div>
				</li>
				
				<li class="fields">
					<div class="field">
						<label for="name" class="required"><em>*</em><?php echo Mage::helper('morecc')->__('Company') ?></label>
						<div class="input-box">
							<input name="company" id="company" title="<?php echo Mage::helper('morecc')->__('Company') ?>" value="" class="input-text required-entry" type="text" />
						</div>
					</div>
				</li>
				
				<li class="fields">
					<div class="field">
						<label for="name" class="required"><em>*</em><?php echo Mage::helper('morecc')->__('Address') ?></label>
						<div class="input-box">
							<input name="address" id="address" title="<?php echo Mage::helper('morecc')->__('Address') ?>" value="" class="input-text required-entry" type="text" />
						</div>
					</div>
				</li>
				
				<li class="fields">
					<div class="field">
						<label for="name" class="required"><em>*</em><?php echo Mage::helper('morecc')->__('City') ?></label>
						<div class="input-box">
							<input name="city" id="city" title="<?php echo Mage::helper('morecc')->__('City') ?>" value="" class="input-text required-entry" type="text" />
						</div>
					</div>
				</li>
				
			 
				
				<li class="fields">
					<div class="field">
						<label for="name" class="required"><em>*</em><?php echo Mage::helper('morecc')->__('Zip/Postal Code') ?></label>
						<div class="input-box">
							<input name="zip" id="zip" title="<?php echo Mage::helper('morecc')->__('Zip/Postal Code') ?>" value="" class="input-text required-entry" type="text" />
						</div>
					</div>
				</li>
		 
			
			<li class="fields">
				<div class="input-box input-country">
					<label for="billing:country_id"><?php echo $this->__('Country');?>
					<span class="required">*</span></label><br />
					<?php echo $this->getCountryHtmlSelect();?>
				</div>
			
			</li>
			
<li class="fields">
 <div class="input-box">
                    <label for="region_id"><?php echo $this->__('State/Province') ?> <span class="required">*</span></label><br />
                    <select id="region_id" name="region_id" title="<?php echo $this->__('State/Province') ?>">
                        <option value="0"><?php echo $this->__('Please select region, state or province') ?></option>
                        <?php
                        $this->setData('country_id','US'); // or 'FR'..., default is 'US'
                        $regions     =   $this->getRegionCollection();
                        foreach($regions as $region)
                        {
                            echo "<option value=$region[region_id]>".$region['name'] . "</option>";
                        }
                        ?>
                    </select>  
                
                    <input style="display:none;" type="text" id="region" name="region" value="<?php echo $this->htmlEscape($this->getRegion()) ?>" title="<?php echo $this->__('State/Province') ?>" class="input-text" />
                </div> 
</li>
			
			
				<li class="fields">
					<div class="field">
						<label for="name" class="required"><em>*</em><?php echo Mage::helper('morecc')->__('Telephone') ?></label>
						<div class="input-box">
							<input name="telephone" id="telephone" title="<?php echo Mage::helper('morecc')->__('Telephone') ?>" value="" class="input-text required-entry" type="text" />
						</div>
					</div>
				</li>
				
				<li class="fields">
					<div class="field">
						<label for="name" class="required"><em>*</em><?php echo Mage::helper('morecc')->__('Fax') ?></label>
						<div class="input-box">
							<input name="fax" id="fax" title="<?php echo Mage::helper('morecc')->__('Fax') ?>" value="" class="input-text required-entry" type="text" />
						</div>
					</div>
					 
				</li>
				
				
				
			<li>
				<label class="required" for="cimprofilewebservice_cc_type"><em>*</em>Credit Card Type</label>
				<div class="input-box">
					<select class="required-entry validate-cc-type-select" name="payment[cc_type]" id="cimprofilewebservice_cc_type" autocomplete="off">
						<option value="">--Please Select--</option>
												<option value="AE">American Express</option>
									<option value="VI">Visa</option>
									<option value="MC">MasterCard</option>
									<option value="DI">Discover</option>
								</select>
				</div>
			</li>
			<li>
				<label class="required" for="cimprofilewebservice_cc_number"><em>*</em>Credit Card Number</label>
				<div class="input-box">
					<input type="text" value="" class="input-text validate-cc-number validate-cc-type" title="Credit Card Number" name="payment[cc_number]" id="cimprofilewebservice_cc_number" autocomplete="off">
				</div>
			</li>
			<li id="cimprofilewebservice_cc_type_exp_div">
				<label class="required" for="cimprofilewebservice_expiration"><em>*</em>Expiration Date</label>
				<div class="input-box">
					<div class="v-fix">
						<select class="month validate-cc-exp required-entry" name="payment[cc_exp_month]" id="cimprofilewebservice_expiration" autocomplete="off">
															<option selected="selected" value="">Month</option>
											<option value="1">01 - January</option>
											<option value="2">02 - February</option>
											<option value="3">03 - March</option>
											<option value="4">04 - April</option>
											<option value="5">05 - May</option>
											<option value="6">06 - June</option>
											<option value="7">07 - July</option>
											<option value="8">08 - August</option>
											<option value="9">09 - September</option>
											<option value="10">10 - October</option>
											<option value="11">11 - November</option>
											<option value="12">12 - December</option>
										</select>
					</div>
					<div class="v-fix">
										<select class="year required-entry" name="payment[cc_exp_year]" id="cimprofilewebservice_expiration_yr" autocomplete="off">
											<option selected="selected" value="">Year</option>
											<option value="2012">2012</option>
											<option value="2013">2013</option>
											<option value="2014">2014</option>
											<option value="2015">2015</option>
											<option value="2016">2016</option>
											<option value="2017">2017</option>
											<option value="2018">2018</option>
											<option value="2019">2019</option>
											<option value="2020">2020</option>
											<option value="2021">2021</option>
											<option value="2022">2022</option>
										</select>
					</div>
				</div>
			</li>
			<li id="cimprofilewebservice_cc_type_cvv_div">
				<label class="required" for="cimprofilewebservice_cc_cid"><em>*</em>Card Verification Number</label>
				<div class="input-box">
					<div class="v-fix">
						<input type="text" value="" name="payment[cc_cid]" id="cimprofilewebservice_cc_cid" class="input-text cvv required-entry validate-cc-cvn" title="Card Verification Number" autocomplete="off">
					</div>
					<a class="cvv-what-is-this" href="#">What is this?</a>
				</div>
			</li>
		</ul>
	
    </div>
	
	
    <div class="buttons-set">
        <p class="required"><?php echo Mage::helper('morecc')->__('* Required Fields') ?></p> 
        <button type="submit" title="<?php echo Mage::helper('morecc')->__('Submit') ?>" class="button"><span><span><?php echo Mage::helper('morecc')->__('Submit') ?></span></span></button>
    </div>
</form>
<script type="text/javascript">
//<![CDATA[
    var authForm = new VarienForm('authForm', true);
//]]>

//var billingRegionUpdater = new RegionUpdater('billing:country_id', 'billing:region', 'billing:region_id', <?php echo Mage::helper('directory')->getRegionJson() ?>, undefined, 'billing:postcode');

</script>
<script type="text/javascript">

new RegionUpdater('bill:country_id', 'region', 'region_id', <?php echo Mage::helper('directory')->getRegionJson() ?>);
</script> 
            <?php
                
                /*
                    This shows how to load specific fields from a record in the database.
                    1) Note the load(15), this corresponds to saying "select * from table where table_id = 15"
                    2) You can then just use the get(fieldname) to pull specific data from the table.
                    3) If you have a field named news_id, then it becomes getNewsId, etc.
                */
                /*
                $news = Mage::getModel('morecc/morecc')->load(15);
                echo $news->getNewsId();
                echo $news->getTitle();
                echo $news->getContent();
                echo $news->getStatus();
                */
                
                /*
                    This shows an alternate way of loading datas from a record using the database the "Magento Way" (using blocks and controller).
 					Uncomment blocks in /app/code/local/Namespace/Module/controllers/IndexController.php if you want to use it.

               */
                /*
                $object = $this->getMorecc();
                echo 'id: '.$object['test_id'].'<br/>';
				echo 'title: '.$object['title'].'<br/>';
				echo 'content: '.$object['content'].'<br/>';
				echo 'status: '.$object['status'].'<br/>';
                */            
            
            
                /*
                    This shows how to load multiple rows in a collection and save a change to them.
                    1) The setPageSize function will load only 5 records per page and you can set the current Page with the setCurPage function.
                    2) The $collection->walk('save') allows you to save everything in the collection after all changes have been made.
                */
                /*
                $i = 0;
                
                $collection = Mage::getModel('morecc/morecc')->getCollection();
                $collection->setPageSize(5);
                $collection->setCurPage(2);
                $size = $collection->getSize();
                $cnt = count($collection);
                foreach ($collection as $item) {
                    $i = $i+1;
                    $item->setTitle($i);
                    echo $item->getTitle();
                }

                $collection->walk('save');
                */
                
                /*
                    This shows how to load a single record and save a change.
                    1) Note the setTitle, this corresponds to the table field name, title, and then you pass it the text to change.
                    2) Call the save() function only on a single record.
                */
                /*
                $object = Mage::getModel('morecc/morecc')->load(1);
                $object->setTitle('This is a changed title');
                $object->save();
				*/

            ?> 