<?php 
$categoryids = $this->getParentCategoriesIds();
?>
 <?php if (count($this->getCategories())): ?>  
<div class="row ms-category-level">
    <div class="col-category col-xs-12">
        <div class="row">
            <?php $i=1;foreach($categoryids as $categoryid): ?>
            <?php $category = Mage::getModel('catalog/category')->load($categoryid);?>
            <?php $childrens = $this->getChildrenCategoriesByLevel($category,2);
            ?>
            <div class="col-xs-12 col-level <?php if(count($childrens) >0) echo 'parent' ?>">  
                <?php if(count($childrens) >0) :?>
                <p class="form-group"><a href="<?php echo $category->getUrl() ?>"><?php echo $category->getName() ?></a><small class="mb-level-click glyphicon glyphicon-plus small">&nbsp;</small></p>
                <?php else:?>
                <a class="form-group" href="<?php echo $category->getUrl() ?>">
					<?php 
					if($category->getName() == 'Oil of the Month Club' ){echo "Oil Club";}elseif($category->getName() == 'Naterre Cooking Oils'){echo 'Cooking Oils';
					}elseif($category->getName() == 'NT Infused Spices'){echo 'Infused Spices';}elseif($category->getName() == 'Essential Oils'){echo 'Singles';}else{
					echo $category->getName(); } ?>
				</a>
                <?php endif;?>
                <?php if(count($childrens) >0) :?>
                <div class="col-xs-12 col-sub">
                    <div class="row">
                <?php foreach($childrens as $children):?>
                 <?php $childs =  $this->getChildrenCategoriesByLevel($children,3) ?>
                    <div class="col-xs-12<?php if(count($childs) >0):?> parent<?php endif;?>">
                        <?php if(count($childs) >0):?>
                        <p class="form-group"><a  href="<?php echo $children->getUrl() ?>"><?php echo $children->getName() ?></a><small class="mb-level-click glyphicon glyphicon-plus small">&nbsp;</small></p>
                        <?php else:?>
                        <a class="form-group" href="<?php echo $children->getUrl() ?>"><?php echo $children->getName() ?></a>
                        <?php endif;?>
                    <?php if($children->hasChildren() && count($childs)>0): ?>
                    <div class="col-xs-12 col-sub">
                        <?php foreach($childs as $child): ?>
                            <a class="form-group" href="<?php echo $child->getUrl() ?>"><?php echo $child->getName() ?></a>
                        <?php  endforeach;?>
                    </div>
                    <?php  endif;?>
                    </div>
                <?php endforeach;?>
                    </div>
                </div>
                <?php endif; ?>
            </div>
            <?php $i++; endforeach;?>
        </div>
    </div>
</div>
 <?php endif; ?>