<?php
/**
 * @namespace   Crimson
 * @module
 * @author      Dan Adams
 * @email       dadams@crimsonagility.com
 * @date        10/12/2016
 * @brief       View file adding pixel for Facebook, no Block
 *              Comments are left for further refinement
 */
$handles = $this->getLayout()->getUpdate()->getHandles();
//echo '<pre>'; print_r($handles); echo '</pre>';
$eventCodes = [];
// View Content
if (in_array('discounts_index_index', $handles)) {
    $eventCodes[] = 'ViewContent';
}
if (in_array('checkout_cart_index', $handles)) {
    $eventCodes[] = 'ViewContent';
}
if (in_array('catalog_product_view', $handles)) {
    $eventCodes[] = 'ViewContent';
}
// Search
if (in_array('catalogsearch_result_index', $handles)) {
    $eventCodes[] = 'Search';
}
// Add To Cart
//if (in_array('checkout_cart_index', $handles)) { $eventCodes[] = 'AddToCart'; }
// Wishlist
// Initiate Checout
if (in_array('onestepcheckout_index_index', $handles)) {
    $eventCodes[] = 'InitiateCheckout';
}
// AddPaymentInfo
// Purchase - Special Processing - Later One
if (in_array('checkout_onepage_success', $handles)) {
    $eventCodes[] = 'Purchase';
}
// Lead
// Complete Registration
// - User Account Signup - same as signing in
?>
<!-- Facebook Pixel Code -->
<script>
    !function (f, b, e, v, n, t, s) {
        if (f.fbq) {
            return;
        }
        n = f.fbq = function () {
            n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) {
            f._fbq = n;
        }
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '931646746872617');
    fbq('track', 'PageView');
    <?php
    foreach ($eventCodes as $eventCode) {
        echo 'fbq("track", "' . $eventCode . '"';
        if ($eventCode == 'Purchase') {
            echo ', {';
            $orderId = Mage::getSingleton('checkout/session')->getLastRealOrderId();
            /** @var Mage_Sales_Model_Order $order */
            $order = Mage::getModel('sales/order')->loadByIncrementId($orderId);
            echo 'value: "' . $order->getGrandTotal() . '"';
            echo ', ';
            echo 'currency: "' . $order->getBaseCurrencyCode() . '"';
            echo '}';
        }
        echo ');';
    }
    ?>
    (function ($) {
        // we can now rely on $ within the safety of our "bodyguard" function
        $(document).ready(function () {
            btnCheckout = function () {
                <?php
                if (in_array('checkout_cart_index', $handles)):
                    $quote = $this->helper('checkout/cart')->getQuote();
                    ?>
                fbq("track", "Purchase", {value: "<?php echo $quote->getGrandTotal(); ?>", currency: "<?php echo $quote->getBaseCurrencyCode() ?>"});
                <?php endif; ?>
            };
            // Paypal Checkout
            $('.btnCheckout').click(function () {
                btnCheckout();
            });
            // Amazon Checkout
            $('#AmazonPayButtonMethod').click(function () {
                btnCheckout();
            });
        });
    })(jQuery);
</script>
<?php // Add 'Add To Cart' Based on Observer ?>
<?php $_product = Mage::getModel('core/session')->getProductToShoppingCart() ?>
<?php if ($_product && $_product->getId()): ?>
    <script type="text/javascript">
        fbq('track', 'AddToCart', {
            content_name    : '<?php echo $_product->getName(); ?>',
            content_category: '<?php echo $_product->getCategoryName(); ?>',
            content_ids     : ['<?php echo $_product->getId(); ?>'],
            content_type    : 'product',
            value           : "<?php echo $_product->getPrice() * 100; ?>",
            currency        : '<?php echo $_product->getCurrencyCode(); ?>'
        });
    </script>
    <?php Mage::getModel('core/session')->unsProductToShoppingCart(); ?>
<?php endif; ?><noscript><img height="1" width="1" style="display:none"
               src="https://www.facebook.com/tr?id=931646746872617&ev=PageView&noscript=1" />
</noscript><!-- DO NOT MODIFY --><!-- End Facebook Pixel Code -->