<style>
    .is-active-field strong {
        width: 100px;
        display:inline-block;
    }
</style>

<?php $active = $this->activation()->isActiveOnPinterest() ?>

<div class="is-active-field">
    <?php if($active === true): ?>
        <strong>Enabled</strong>
        <?php echo $this->renderDeactivateButtonHtml('Deactivate Buyable Pins', 'Are you sure you want to deactivate Buyable Pins?'); ?>
    <?php elseif($active === false): ?>
        <strong>Disabled</strong>
        <?php echo $this->renderActivateButtonHtml('Activate Buyable Pins', 'Are you sure you want to activate Buyable Pins?'); ?>
    <?php else: ?>
        Unable to connect to Pinterest. Error message: <?php echo $active->message; ?>
    <?php endif ?>
</div>