<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Sarp2
 * @version    2.2.4
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><div>
    <div class="box-left">
        <?php echo $this->getReferenceHtml(); ?>
    </div>
    <div class="box-right">
        <?php echo $this->getPurchaseHtml(); ?>
    </div>
    <div class="clear"></div>
    <div class="box-left">
        <?php echo $this->getScheduleHtml(); ?>
    </div>
    <div class="box-right">
        <?php echo $this->getPaymentsHtml(); ?>
    </div>
    <div class="clear"></div>
    <?php $billingAddress = $this->getBillingBlock()->getBillingAddress(); ?>
    <?php if (!is_null($billingAddress)): ?>
        <div class="box-left">
            <!--Billing Address-->
            <div class="entry-edit">
                <div class="entry-edit-head">
                    <h4 class="icon-head head-billing-address">
                        <?php echo Mage::helper('sales')->__('Billing Address') ?>
                    </h4>
                </div>
                <fieldset>
                    <address><?php echo $billingAddress->getFormated(true) ?></address>
                </fieldset>
            </div>
        </div>
    <?php endif; ?>
    <?php $shippingAddress = $this->getShippingBlock()->getShippingAddress(); ?>
    <?php if (!is_null($shippingAddress)): ?>
        <div class="box-right">
            <!--Shipping Address-->
            <div class="entry-edit">
                <div class="entry-edit-head">
                    <h4 class="icon-head head-shipping-address">
                        <?php echo Mage::helper('sales')->__('Shipping Address') ?>
                    </h4>
                </div>
                <fieldset>
                    <address><?php echo $shippingAddress->getFormated(true) ?></address>
                </fieldset>
            </div>
        </div>
    <?php endif; ?>
    <div class="clear"></div>
</div>