<!-- BoldChat Visitor Monitor HTML v5.00 (Website=My Website,ChatButton=My Chat Button,ChatInvitation=My Invite Ruleset) -->
<script type="text/javascript">
    window._bcvma = window._bcvma || [];
    _bcvma.push(["setAccountID", "351046243257131941"]);
  _bcvma.push(["setParameter", "WebsiteID", "3152532967834177128"]);
  _bcvma.push(["setParameter", "InvitationID", "348636519670205833"]);
  _bcvma.push(["addFloat", {type: "chat", id: "348636519415950071"}]);
  _bcvma.push(["pageViewed"]);
    var bcLoad = function(){
        if(window.bcLoaded) return; window.bcLoaded = true;
        var vms = document.createElement("script"); vms.type = "text/javascript"; vms.async = true;
        vms.src = ('https:'==document.location.protocol?'https://':'http://') + "vmss.boldchat.com/aid/351046243257131941/bc.vms4/vms.js";
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(vms, s);
    };
    if(window.pageViewer && pageViewer.load) pageViewer.load();
    else if(document.readyState=="complete") bcLoad();
    else if(window.addEventListener) window.addEventListener('load', bcLoad, false);
    else window.attachEvent('onload', bcLoad);
</script>
<noscript>
<a href="http://www.boldchat.com" title="Live Support" target="_blank"><img alt="Live Support" src="https://vms.boldchat.com/aid/351046243257131941/bc.vmi?wdid=3152532967834177128" border="0" width="1" height="1" /></a>
</noscript>
<!-- /BoldChat Visitor Monitor HTML v5.00 -->