
<div style='display:none'>
    <div id='inline_content' style='padding:10px; background:#fff;'>

        <div class="popup-container">
            <div class="top-row"></div>
            <div class="popup-left">
                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('webform_left_note')->toHtml(); ?>
            </div>
            <!--// End popup left -->

            <div class="popup-right">
                <?php
                echo $this->getLayout()->createBlock('webforms/webforms', 'my_webform_block', array
                (
                    'webform_id' => 3,
                    'template' => 'webforms/default.phtml',
                ))->toHtml();
                ?>
		<div class="contest-rules-tooltip" style="display:none">
                    <?php echo $rules =  $this->getLayout()->createBlock('cms/block')->setBlockId('contest_rules')->toHtml(); ?>
                </div>
                <?php echo $rules; ?>
            </div>
            <!--// End popup right -->

        </div>

    </div>
</div>
<script src="<?php echo $this->getSkinUrl(); ?>js/jquery.colorbox.js"></script>

<script>
    jQuery(document).ready(function () {
        
        jQuery(".inline").colorbox({
            inline:true,
            maxWidth: "90%",
            onComplete : function() {
                jQuery(this).colorbox.resize();
            }
        });

        jQuery(window).resize(function() {
            jQuery.colorbox.resize({width: "90%"});
        });
        jQuery(".webform-button").parent('a').attr('href', 'javascript:');
        jQuery(".webforms-fields-terms").find('a').attr('href', 'javascript:');
	
        jQuery(".webforms-fields-terms a").hover(function(){
            jQuery('.contest-rules-tooltip').show();
        },function(){
            jQuery('.contest-rules-tooltip').hide();
        });
    });
</script>
