<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Sarp2
 * @version    2.2.4
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><div class="info-box">
    <div class="box-title">
        <h2><?php echo $this->getInfoBoxTitle(); ?></h2>
    </div>
    <div class="box-content">
        <table class="info-table">
            <tbody>
                <?php foreach ($this->getInfoBoxFields() as $field) : ?>
                    <tr>
                        <th><span class="nobr"><?php echo $field['title']; ?></span></th>
                        <td>
                            <?php if (isset($field['url'])): ?>
                                <a href="<?php echo $field['url']; ?>" title="<?php echo $field['value']; ?>"><?php echo $field['value']; ?></a>
                            <?php else: ?>
                                <?php echo $field['value']; ?>
                            <?php endif; ?>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>