 

<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="page-title">
    <h1><?php echo Mage::helper('morecc')->__('Add Card') ?></h1>
</div>
<form action="<?php echo Mage::getBaseUrl('web');?>morecc/index/createCustomerProfile/" id="authForm" method="post">
    <div class="fieldset">
        <h2 class="legend"><?php echo Mage::helper('morecc')->__('Create Profile') ?></h2>
			<ul class="form-list">
				<li class="fields">
					<div class="field">
						<label for="name" class="required"><em>*</em><?php echo Mage::helper('morecc')->__('First Name') ?></label>
						<div class="input-box">
							<input name="first_name" id="first_name" title="<?php echo Mage::helper('morecc')->__('First Name') ?>" value="" class="input-text required-entry" type="text" />
						</div>
					</div>
				</li>
				
				<li class="fields">
					<div class="field">
						<label for="name" class="required"><em>*</em><?php echo Mage::helper('morecc')->__('Last Name') ?></label>
						<div class="input-box">
							<input name="last_name" id="last_name" title="<?php echo Mage::helper('morecc')->__('Last Name') ?>" value="" class="input-text required-entry" type="text" />
						</div>
					</div>
				</li>
				
				<li class="fields">
					<div class="field">
						<label for="name" class="required"><em>*</em><?php echo Mage::helper('morecc')->__('Company') ?></label>
						<div class="input-box">
							<input name="company" id="company" title="<?php echo Mage::helper('morecc')->__('Company') ?>" value="" class="input-text required-entry" type="text" />
						</div>
					</div>
				</li>
				
				<li class="fields">
					<div class="field">
						<label for="name" class="required"><em>*</em><?php echo Mage::helper('morecc')->__('Address') ?></label>
						<div class="input-box">
							<input name="address" id="address" title="<?php echo Mage::helper('morecc')->__('Address') ?>" value="" class="input-text required-entry" type="text" />
						</div>
					</div>
				</li>
				
				<li class="fields">
					<div class="field">
						<label for="name" class="required"><em>*</em><?php echo Mage::helper('morecc')->__('City') ?></label>
						<div class="input-box">
							<input name="city" id="city" title="<?php echo Mage::helper('morecc')->__('City') ?>" value="" class="input-text required-entry" type="text" />
						</div>
					</div>
				</li>
				
			 
				
				<li class="fields">
					<div class="field">
						<label for="name" class="required"><em>*</em><?php echo Mage::helper('morecc')->__('Zip/Postal Code') ?></label>
						<div class="input-box">
							<input name="zip" id="zip" title="<?php echo Mage::helper('morecc')->__('Zip/Postal Code') ?>" value="" class="input-text required-entry" type="text" />
						</div>
					</div>
				</li>
		 
			
			<li class="fields">
				<div class="input-box input-country">
					<label for="billing:country_id"><?php echo $this->__('Country');?>
					<span class="required">*</span></label><br />
					<?php echo $this->getCountryHtmlSelect();?>
				</div>
			
			</li>
			
<li class="fields">
 <div class="input-box">
                    <label for="region_id"><?php echo $this->__('State/Province') ?> <span class="required">*</span></label><br />
                    <select id="region_id" name="region_id" title="<?php echo $this->__('State/Province') ?>">
                        <option value="0"><?php echo $this->__('Please select region, state or province') ?></option>
                        <?php
                        $this->setData('country_id','US'); // or 'FR'..., default is 'US'
                        $regions     =   $this->getRegionCollection();
                        foreach($regions as $region)
                        {
                            echo "<option value=$region[region_id]>".$region['name'] . "</option>";
                        }
                        ?>
                    </select>  
                
                    <input style="display:none;" type="text" id="region" name="region" value="<?php echo $this->htmlEscape($this->getRegion()) ?>" title="<?php echo $this->__('State/Province') ?>" class="input-text" />
                </div> 
</li>
			
			
				<li class="fields">
					<div class="field">
						<label for="name" class="required"><em>*</em><?php echo Mage::helper('morecc')->__('Telephone') ?></label>
						<div class="input-box">
							<input name="telephone" id="telephone" title="<?php echo Mage::helper('morecc')->__('Telephone') ?>" value="" class="input-text required-entry" type="text" />
						</div>
					</div>
				</li>
				
				<li class="fields">
					<div class="field">
						<label for="name" class="required"><em>*</em><?php echo Mage::helper('morecc')->__('Fax') ?></label>
						<div class="input-box">
							<input name="fax" id="fax" title="<?php echo Mage::helper('morecc')->__('Fax') ?>" value="" class="input-text required-entry" type="text" />
						</div>
					</div>
					 
				</li>
				
				
				
			<li>
				<label class="required" for="cimprofilewebservice_cc_type"><em>*</em>Credit Card Type</label>
				<div class="input-box">
					<select class="required-entry validate-cc-type-select" name="payment[cc_type]" id="cimprofilewebservice_cc_type" autocomplete="off">
						<option value="">--Please Select--</option>
												<option value="AE">American Express</option>
									<option value="VI">Visa</option>
									<option value="MC">MasterCard</option>
									<option value="DI">Discover</option>
								</select>
				</div>
			</li>
			<li>
				<label class="required" for="cimprofilewebservice_cc_number"><em>*</em>Credit Card Number</label>
				<div class="input-box">
					<input type="text" value="" class="input-text validate-cc-number validate-cc-type" title="Credit Card Number" name="payment[cc_number]" id="cimprofilewebservice_cc_number" autocomplete="off">
				</div>
			</li>
			<li id="cimprofilewebservice_cc_type_exp_div">
				<label class="required" for="cimprofilewebservice_expiration"><em>*</em>Expiration Date</label>
				<div class="input-box">
					<div class="v-fix">
						<select class="month validate-cc-exp required-entry" name="payment[cc_exp_month]" id="cimprofilewebservice_expiration" style="width:130px;">
															<option selected="selected" value="">Month</option>
											<option value="1">01 - January</option>
											<option value="2">02 - February</option>
											<option value="3">03 - March</option>
											<option value="4">04 - April</option>
											<option value="5">05 - May</option>
											<option value="6">06 - June</option>
											<option value="7">07 - July</option>
											<option value="8">08 - August</option>
											<option value="9">09 - September</option>
											<option value="10">10 - October</option>
											<option value="11">11 - November</option>
											<option value="12">12 - December</option>
										</select>
					</div>
					<div class="v-fix">
						<select class="year required-entry" name="payment[cc_exp_year]" id="cimprofilewebservice_expiration_yr" style="width:130px;">
							<option selected="selected" value="">Year</option>
							<option value="2012">2012</option>
							<option value="2013">2013</option>
							<option value="2014">2014</option>
							<option value="2015">2015</option>
							<option value="2016">2016</option>
							<option value="2017">2017</option>
							<option value="2018">2018</option>
							<option value="2019">2019</option>
							<option value="2020">2020</option>
							<option value="2021">2021</option>
							<option value="2022">2022</option>
						</select>
					</div>
				</div>
			</li>
			<li id="cimprofilewebservice_cc_type_cvv_div">
				<label class="required" for="cimprofilewebservice_cc_cid"><em>*</em>Card Verification Number</label>
				<div class="input-box">
					<div class="v-fix">
						<input style="width:60px;" type="text" value="" name="payment[cc_cid]" id="cimprofilewebservice_cc_cid" class="input-text cvv required-entry validate-cc-cvn" title="Card Verification Number">
					</div>
					<a class="cvv-what-is-this" href="#">What is this?</a>
				</div>
			</li>
		</ul>
	
		<div style="text-align:left;">
			
			<button type="submit" title="<?php echo Mage::helper('morecc')->__('Submit') ?>" class="button"><span><span><?php echo Mage::helper('morecc')->__('Submit') ?></span></span><p class="required" style="text-align:left;"><?php echo Mage::helper('morecc')->__('* Required Fields') ?></p> </button>
		</div>
    </div>
	
	
 
</form>
<script type="text/javascript">
//<![CDATA[
    var authForm = new VarienForm('authForm', true);
//]]>

//var billingRegionUpdater = new RegionUpdater('billing:country_id', 'billing:region', 'billing:region_id', <?php echo Mage::helper('directory')->getRegionJson() ?>, undefined, 'billing:postcode');

</script>
<script type="text/javascript">

new RegionUpdater('bill:country_id', 'region', 'region_id', <?php echo Mage::helper('directory')->getRegionJson() ?>);
</script>  

<div style="top: 26px;display:none" id="payment-tool-tip" class="tool-tip">
    <div class="btn-close"><a title="Close" id="payment-tool-tip-close" href="#">Close</a></div>
    <div class="tool-tip-content"><img title="Card Verification Number Visual Reference" alt="Card Verification Number Visual Reference" src="<?php echo $this->getSkinUrl().'images/cvv.gif';?>"></div>
</div>

<script type="text/javascript">

document.observe('dom:loaded', function() {
    if($('payment-tool-tip-close')){
        Event.observe($('payment-tool-tip-close'), 'click', toggleToolTip);
    }

    $$('.cvv-what-is-this').each(function(element){
        Event.observe(element, 'click', toggleToolTip);
    });


});

function toggleToolTip(event){
    if($('payment-tool-tip')){
        $('payment-tool-tip').setStyle({
            left: (Event.pointerX(event)-100)+'px',
            top: (Event.pointerY(event)-300)+'px'
        });
        $('payment-tool-tip').toggle();
    }
    Event.stop(event);
}

</script>