<?php
/* @var $this Creatuity_BuyablePins_Block_Feed_Product */
if ( !$this->getProduct() ) {
    return $this;
}
?>
<item>
    <id><?php echo $this->getId(); ?></id>
    <title><![CDATA[<?php echo $this->getName(); ?>]]></title>
    <description><![CDATA[<?php echo  $this->getDescription(); ?>]]></description>
    <link><![CDATA[<?php echo  $this->getProductUrl(); ?>]]></link>
    <image_link><![CDATA[<?php echo  $this->getImageUrl(); ?>]]></image_link>
    <?php if ( $this->getAdditionalImagesUrlsAsString() ): ?>
    <additional_image_link><![CDATA[<?php echo $this->getAdditionalImagesUrlsAsString(); ?>]]></additional_image_link>
    <?php endif; ?>
    <condition><![CDATA[<?php echo  $this->getCondition(); ?>]]></condition>
    <availability><![CDATA[<?php echo  $this->getStockStatus(); ?>]]></availability>
    <price><![CDATA[<?php echo  $this->getPrice(); ?>]]></price>
    <brand><![CDATA[<?php echo  $this->getManufacturer(); ?>]]></brand>
    <gtin><![CDATA[<?php echo  $this->getGtin(); ?>]]></gtin>
    <?php if ( $this->getSize() ): ?>
    <size><![CDATA[<?php echo $this->getSize(); ?>]]></size>
    <?php endif; ?>
    <?php if ( $this->getParentId() ): ?>
    <item_group_id><![CDATA[<?php echo $this->getParentId(); ?>]]></item_group_id>
    <?php endif; ?>
    <?php if ( $this->getParentUrl() ): ?>
    <item_group_link><![CDATA[<?php echo $this->getParentUrl(); ?>]]></item_group_link>
    <?php endif; ?>
</item>
