<?php
    $request = Mage::app()->getRequest();
?>

<?php
    // checkout cart
    if (
           $request->getRouteName()      == 'checkout'
        && $request->getControllerName() == 'cart'
        && $request->getActionName()     == 'index'
    ) :
?>
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '234066373619470');
fbq('track', "PageView");
fbq('track', 'AddToCart');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=234066373619470&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->





<?php
    // checkout onepage
    elseif (
           $request->getRouteName()      == 'onestepcheckout'
        && $request->getControllerName() == 'index'
        && $request->getActionName()     == 'index'
    ) :
?>
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '234066373619470');
fbq('track', "PageView");
fbq('track', 'InitiateCheckout');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=234066373619470&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->





<?php
    // checkout success page
    elseif (
           $request->getRouteName()      == 'checkout'
        && $request->getControllerName() == 'onepage'
        && $request->getActionName()     == 'success'
    ) :
        $order = Mage::getModel('sales/order')->load(
            Mage::getSingleton('checkout/session')->getLastOrderId()
        );

        $grandTotal = $order->getGrandTotal();
?>
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '234066373619470');
fbq('track', "PageView");
fbq('track', 'Purchase', {value: '<?php echo number_format((float) $grandTotal, 2, '.', ''); ?>', currency: 'USD'});
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=234066373619470&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->






<?php
    // all pages
    else :
?>
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '234066373619470');
fbq('track', "PageView");
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=234066373619470&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
<?php endif; ?>
