<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Sarp2
 * @version    2.0.0
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php echo $this->getMessagesBlock()->toHtml(); ?>
<?php $profile = $this->getProfile(); ?>
<?php $orderCollection = $this->getOrderCollection(); ?>
<div class="page-title title-buttons">
    <h1><?php echo $this->__('Subscription #%s', $profile->getReferenceId()); ?></h1>
    <?php echo $this->getChildHtml('buttons'); ?>
</div>
<dl class="order-info">
    <dt><?php echo $this->__('About This Profile:') ?></dt>
    <dd>
        <ul id="order-info-tabs">
            <li><a href="<?php echo $this->getUrl('*/*/view', array('_current' => true)); ?>"><?php echo $this->__('Subscription Information'); ?></a></li>
            <li class="current"><strong><?php echo $this->__('Related Orders'); ?></strong></li>
        </ul>
    </dd>
</dl>
<div>
    <h2 class="table-caption"><?php echo $this->__('Orders Based on This Profile'); ?></h2>
    <?php if ($orderCollection->getSize()) : ?>
        <?php echo $this->getPagerHtml(); ?>
            <table class="data-table" id="my-profile-orders-table">
                <col width="1" />
                <col width="1" />
                <col />
                <col width="1" />
                <col width="1" />
                <thead>
                    <tr>
                        <th><span class="nobr"><?php echo $this->__('Order #'); ?></span></th>
                        <th><span class="nobr"><?php echo $this->__('Date'); ?></span></th>
                        <th><span class="nobr"><?php echo $this->__('Customer Name'); ?></span></th>
                        <th><span class="nobr"><?php echo $this->__('Order Total'); ?></span></th>
                        <th><span class="nobr"><?php echo $this->__('Order Status'); ?></span></th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($orderCollection as $order) : ?>
                        <tr>
                            <td><a href="<?php echo $this->getOrderLink($order); ?>" title="<?php echo $this->__('View Order'); ?>"><?php echo $order->getIncrementId(); ?></a></td>
                            <td><span class="nobr"><?php echo $this->formatDate($order->getCreatedAt(), Mage_Core_Model_Locale::FORMAT_TYPE_MEDIUM); ?></span></td>
                            <td><?php echo $order->getBillingName(); ?></td>
                            <td><?php echo Mage::helper('core')->formatCurrency($order->getBaseGrandTotal(), false); ?></td>
                            <td><?php echo $order->getStatusLabel(); ?></td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
            <script type="text/javascript">decorateTable('my-profile-orders-table');</script>
        <?php echo $this->getPagerHtml(); ?>
    <?php else : ?>
        <p><?php echo $this->__('There are no orders yet.'); ?></p>
    <?php endif; ?>
</div>