
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $_datasets = $this->getDatasets(); ?>
<div class="page-head">
    <h3><?php echo $this->__('Idevinfo') ?></h3>
</div>
<?php echo $this->getPagerHtml(); ?>
<?php if($_datasets->getSize()): ?>
<table cellspacing="0" class="data-table" id="data-table">
    <thead>
        <tr>
            <th><?php echo $this->__('Id') ?></th>
            
            <th><?php echo $this->__('mage_customer') ?></th>
            <th><?php echo $this->__('idev_affiliate_id') ?></th>
            <th><?php echo $this->__('referred_by') ?></th>
            <th> &nbsp; </th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($_datasets as $_dataset): ?>
            <tr>
                <td  valign="middle"   style="vertical-align:middle;"><?php echo $_dataset->getId() ?></td>
                
            <td  valign="middle"   style="vertical-align:middle;"><?php echo $_dataset->getData('mage_customer') ?></td>
            <td  valign="middle"   style="vertical-align:middle;"><?php echo $_dataset->getData('idev_affiliate_id') ?></td>
            <td  valign="middle"   style="vertical-align:middle;"><?php echo $_dataset->getData('referred_by') ?></td>
				<td  valign="middle"   style="vertical-align:middle;"><a href="#" ><?php echo($this->__('View')) ?></a></td>
            </tr>
        <?php endforeach; ?>
    </tbody>
</table>
<script type="text/javascript">decorateTable('data-table')</script>
<?php echo $this->getPagerHtml(); ?>
<?php else: ?>
    <p><?php echo $this->__('You have submited no data.'); ?></p>
<?php endif ?>