<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Sarp2
 * @version    2.2.4
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $profileCollection = $this->getCollection(); ?>
<div class="page-title">
    <h1><?php echo $this->__('My Subscriptions') ?></h1>
</div>
<?php echo $this->getPagerHtml(); ?>
<?php if ($profileCollection->getSize()) : ?>
    <table class="data-table" id="my-profiles-table">
        <col width="1" />
        <col />
        <col width="1" />
        <col width="1" />
        <col width="1" />
        <thead>
            <tr>
                <th><span class="nobr"><?php echo $this->__('Payment Reference ID'); ?></span></th>
                <th><span class="nobr"><?php echo $this->__('Status'); ?></span></th>
                <th><span class="nobr"><?php echo $this->__('Created At'); ?></span></th>
                <th><span class="nobr"><?php echo $this->__('Updated At'); ?></span></th>
                <th><span class="nobr"><?php echo $this->__('Payment Method'); ?></span></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($profileCollection as $profile) : ?>
                <tr>
                    <td><a href="<?php echo $this->getProfileLink($profile); ?>" title="<?php echo $this->__('View Subscription'); ?>"><?php echo $profile->getReferenceId(); ?></a></td>
                    <td><?php echo $profile->getStatusLabel(); ?></td>
                    <td><span class="nobr"><?php echo $this->formatDate($profile->getCreatedAt(), Mage_Core_Model_Locale::FORMAT_TYPE_MEDIUM, true); ?></span></td>
                    <td><span class="nobr"><?php echo $this->formatDate($profile->getUpdatedAt(), Mage_Core_Model_Locale::FORMAT_TYPE_MEDIUM, true); ?></span></td>
                    <td><?php echo $profile->getEngineLabel(); ?></td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <script type="text/javascript">decorateTable('my-profiles-table');</script>
<?php echo $this->getPagerHtml(); ?>
<?php else: ?>
    <p><?php echo $this->__('There are no recurring profiles yet.'); ?></p>
<?php endif ?>