body{color:#8c8a88;font:75%/1.5 'PT Sans', helvetica,verdana sans-serif;}
html, button, input, select, textarea {font-family: 'PT Sans', helvetica,verdana sans-serif;}

.text-center{text-align:center;}
.page {border-top:none;}
.main {padding:10px 0 20px 0;}
.quick-access {margin-top:6px;margin-bottom:15px;}
/*.quick-access .links{background:url(../images/nav-bg2.jpg);}*/
.quick-access .links a {color:#666666;font-family: 'PT Sans', helvetica,verdana sans-serif;white-space: nowrap;}
.quick-access .links a:hover {text-decoration: underline; color:black;}
.quick-access .top-cart .block-title {display:none;}


.top-cart { float:right; /* width:360px; */ position:relative; padding-left:7px; }
.top-cart .block-title { white-space:nowrap; /* _width:242px; min-width:242px; */ cursor:pointer; background:#fff url(../images/bkg_topcart.gif) 0 3px no-repeat; color:#1e75b4; font-weight:bold; font-size:11px; text-transform:uppercase; padding:0 0 0 18px; line-height:18px; height:18px; }
.top-cart .block-title strong { display:block; padding-right:10px; background:url(../images/bkg_header-panel.gif) 100% -71px no-repeat; font-size:11px; color:#1e75b4; font-weight:bold; text-decoration:none; }
.top-cart .block-title.expanded { background-position:0 3px !important; }
.top-cart .block-title.expanded strong { background-position:100% -126px !important; color:#d33911; }
/* .top-cart .no-items { cursor:default; }
.top-cart .no-items h3 { background:none; } */
.top-cart .block-content { position:absolute; right:0; top:20px; width:267px; background:#fdfdfd; z-index: 1000; }
.top-cart .inner-wrapper { border:1px solid #c1c1c1; }

.top-cart .block-content .block-subtitle { font-size:10px; color:#d12c01; font-weight:bold; text-transform:uppercase; background:url(../images/bkg_header-panel.gif) repeat-x 0 -8px; line-height:12px; padding:3px 10px 4px; }
.top-cart .block-content .block-subtitle .close-btn { float:right; width:13px; height:0; padding-top:12px; text-align:left; overflow:hidden; cursor:pointer; background:url(../images/bkg_close.gif) no-repeat 0 0; position:relative; z-index:1; }
.top-cart .cart-empty .close-btn { float:right; width:13px; height:0; padding-top:12px; text-align:left; overflow:hidden; cursor:pointer; background:url(../images/bkg_close.gif) no-repeat 0 0; position:relative; z-index:1; }
.top-cart .cart-empty { padding:10px 10px 10px 20px; }
.top-cart .block-content ol { padding-bottom:7px; }
.top-cart .block-content .item { padding:8px 5px 8px 11px; }
.top-cart .block-content .item .product-name { font-size:11px; line-height:14px; }
.top-cart .block-content .item .product-name a { font-size:11px; text-decoration:none; color:#444; }
.top-cart .block-content table { margin:5px 0 0 0; }
.top-cart .block-content table th { padding:1px 8px; color:#8f8f8f; text-align:right; }
.top-cart .block-content table td { text-align:left; padding:1px 0; }
.top-cart .block-content .subtotal { background:#fff url(../images/bkg_dots.gif) repeat-x 0 0; padding:2px 5px; text-align:center; }

.top-cart .actions { background:#e3e3e3 url(../images/bkg_dots.gif) repeat-x 0 -1px; text-align:center; padding:5px 11px; }
.top-cart .actions a { float:left; line-height:23px; }
.top-cart .actions button { float:none; }
.top-cart .actions button.button span,
.top-cart .actions button.button span span { background-image:url(../images/bkg_btn-onbg.gif); background-repeat:no-repeat; }
.top-cart .paypal-logo a { float:right; }
.top-cart .paypal-logo .paypal-or { clear:both; display:block; margin: 5px 33px 5px 0px; }


#topCartContent .actions li { list-style: none; }
@media only screen and (max-width: 767px){
    .quick-access .links { background: none; }
}
#mobile-menu-label {
    float: left;
    margin: 0;
    padding-left: 25px;
    padding-top: 2px;
    color: white;
    font-family: 'PT Sans Narrow';
    font-size: 14px;
}
/*.header-container {padding-top:10px;}*/
.cms-index-index .header .logo {z-index: 1000;top:50px;left:41.2%;margin:2px 0px 0px 0px;}
body > div.wrapper > div > div.row > div.header-container > div > div.container > h1 > a > img{max-width:40%;}
.header .logo {z-index: 1000;top:50px;left:41.2%;margin:2px 0px 0px 0px;}
.header .logo img {margin-top: 0;}

.page-title {border-bottom:2px solid #aed9d3;padding-bottom:5px;}
.page-title h1, .page-title h2 {margin-bottom: 0;   }

@media only screen and (max-width: 767px){
    .category-title h1 {
        height:auto;
    }
}

h1 {color:#5a513a;font-size:28px;  font-family: 'PT Sans'  }
h2,h3 { font-family: 'PT Sans';}

/* top nav */
.nav-container{margin-top:0;background:url(../images/nav-bg3.jpg);height:45px;/*opacity: .8;*/}
.nav-container select, .nav-container select option {    font-family: 'PT Sans Narrow';}
#nav {width:100%;}
#nav a {
    color: #5a513a;
    border-right:0;
    font-family: 'PT Sans Narrow';
    font-size:15px;
    width:100%;
    text-align:center;
    padding:0;
}
#nav li {line-height: 45px;padding:0;width:14.5%;}
#nav li:nth-child(3) {padding-right:60px;}
#nav li.level0:nth-child(4) {padding-left:60px;}
#nav li.over a, #nav a:hover,#nav li.active a {color: #006666;}

form#search_mini_form { float: left; }
form#search_mini_form .form-search { margin: 0 0 20px;}

/* responsive nav fixes */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .header .logo {position: relative;top:0;left:0;}
    .cms-index-index .header .logo {position: relative;top:0;left:0;}
    #nav a {font-weight: normal;padding:0 20px;}
    #nav li { padding: 0 5px}
    #nav li:nth-child(3) {padding-right:0px;}
    #nav li:nth-child(4) {padding-left:0px;}
    form#search_mini_form {float: right}
    form#search_mini_form .form-search { margin: 0 0 10px;}
}

@media only screen and (min-width: 0) and (max-width: 767px) {
    .header .logo {position: relative;top:0;left:0;}
    .cms-index-index .header .logo {position: relative;top:0;left:0;}
    .nav-container {background: none;}
    .header .logo {position: relative;top:0;left:0;}
    .quick-access {width:100%;}
}

.header .top-promo1 {float:left;clear:left;text-align: left;width:auto;color:#339999;margin-top:4px;height:auto;font-family: 'PT Sans Narrow';font-size:15px;}
.header .top-promo1 p {margin:0;}
.header .top-promo1 .span1 {color:#339999;font-family: 'PT Sans Narrow'; font-size:15px;}

.form-search {margin:12px 0 0 0;padding:0;}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active { background: #339999 !important; }

.footer3 {margin-top:130px;}
.footer3 h2 {margin:0;font-size:16px;font-weight:normal;font-family: 'PT Sans', helvetica,verdana sans-serif;}
.footer address {margin:-10px 0 0 0;padding-top:0;}
.footer a{font-family: 'PT Sans', helvetica,verdana sans-serif;}
.footer a:hover {text-decoration: underline;}


/* home page */
.home-products .top-sellers{}
.home-products .top-sellers h2,
.home-products .featured-products h2 {font-family:'PT Sans Narrow' !important; }

@media only screen and (min-width: 0) and (max-width: 767px) {

    .slider4 {
        width:456px;
    }
}

.social {background:url(../images/nav-bg3.jpg);border-top:1px solid #d5d4d0;border-bottom:1px solid #cdcccb;padding:5px;}
.social .social-btns {float:left;border:none;padding:0;width:49.5%;}
.social .social-btns img,.social .social-btns .imgs {width:50px;height:50px;padding:0;}
.social .social-btns .imgs {padding:0 5px 0 0;}
.social .social-btns a:hover { background:#025799;}
.social .social-btns a {background:none;background: #018fd6;}
.social .social-newsletter {float:right;padding:0;width:49.5%;}
.social .social-newsletter .form-subscribe{float:right;}
.social .social-newsletter h3 {
    width: 45%;
    text-align: right;
    clear: none;
    margin:0;
    font-size:12px;
    font-family:'PT Sans', helvetica,verdana sans-serif;
    color:inherit;
    line-height: 26px;
    padding-right:10px;
}
.social .social-newsletter button.button {background: #2d2a26;color:#fff;font-weight: bold;text-transform: uppercase;border:0;}
.social .social-newsletter .input-box input.input-text {width:auto;}

/* sitewide tables */
.data-table th {font-size:11px;}
.data-table td {font-size:13px;}

/* sitewide buttons */
.grouped-add-to-cart a, button.button, a.button {
    font-weight:normal;
    font-family: 'PT Sans', helvetica,verdana sans-serif;
    background: #eae8e3;
    color:inherit;
    border-radius: 0 !important;
    border:1px solid #c5c4c0;
    text-transform: none;
    line-height: 1.5;
}

.grouped-add-to-cart a:hover, button.button:hover, a.button:hover {background:#5a513a;color:#fff;}


/* sitewide blocks */
.block .block-title {background: #888;font-family: 'PT Sans', helvetica,verdana sans-serif;}
.block .block-title strong{font-weight: normal;}
.box-account .box-head h2 {color:#339999;font-weight:normal;}
.account-login .content h2 {font-size:14px;font-weight:bold;}
.top-bar .breadcrumbs {margin-left: 0;padding:13px 0;}

/* sitewide prices */
.grouped-add-to-cart {font-family: 'PT Sans', helvetica,verdana sans-serif;}
.regular-price .price { font-family: 'PT Sans', helvetica,verdana sans-serif;font-size: 14px;}

/* category page */
.category-title{border:none;}
.category-title h1 {background-image: url(../images/nav-bg3.jpg);color:#5a513a;text-shadow: none;font-size:36px;/*opacity: .8;*/}

.products-grid li.item {border:none;}
.products-grid .product-name a {color:inherit;font-size:20px;font-family: 'PT Sans', helvetica,verdana sans-serif;}
.products-grid .product-name { height:auto;min-height:60px;}
.products-grid .price-box {display:inline-block;}
.products-grid .item.simple {}
.products-grid .item.simple .actions {top: -53px;  position: relative;}
.products-grid .item.simple .price-box .price {margin-top:19px;margin-left:20px;float:left;width:50%;font-size:1em;}

.product-view .product-shop .availability {font-size:inherit;}

/* product detail */
.product-view { }
.product-view .main {margin-top:30px;}
.product-name ,
.product-name h1 {font-family:'PT Sans', helvetica,verdana sans-serif;}
.catalog-product-view #product-options-wrapper{display:none;}
.product-premium-ootm #product_addtocart_form > div.product-shop > div.price-box, .product-oil-of-the-month-club #product_addtocart_form > div.product-shop > div.price-box{display:none;}
.product-premium-ootm .product-options-bottom, .product-oil-of-the-month-club .product-options-bottom{ display: flex; justify-content: space-between; align-items: center;}
.product-premium-ootm .product-shop .product-options-bottom .add-to-cart, .product-oil-of-the-month-club .product-shop .product-options-bottom .add-to-cart{padding-top:0;}
.product-premium-ootm .product-view .product-shop .add-to-links, .product-oil-of-the-month-club .product-view .product-shop .add-to-links{margin-top:0;}

/* cms pages */
#alttext{display:none;}
.std {font-family: 'PT Sans', helvetica,verdana sans-serif;}
.std h1 {
    text-align: center;
    border-bottom:2px solid #aed9d3;
    color:#999;
    font-size:24px;
    font-weight: bold;
    padding-bottom:5px;

}

.std .home-products .top-sellers h2.home-title, .std .home-products .featured-products h2.home-title {
    text-align: center;
    border-bottom:2px solid #aed9d3;
    color:#999;
    font-size:24px;
    font-weight: bold;
    padding-bottom:5px;
}
.std h2 ,h2{color: #5a513a;font-family: inherit;font-size:22px;}
.std h3 {color:#339999;font-size:20px; font-family: 'PT Sans Narrow';}
.std h4 {color:#999;font-size:20px;font-family: 'PT Sans Narrow';}
.std h5 {font-family: 'PT Sans', helvetica,verdana sans-serif;}
.std h6 {color:#666;font-weight: bold;font-size:13px;font-family: 'PT Sans', helvetica,verdana sans-serif;}
.f-gray h3 {color:#888 !important;font-weight: normal;}

.std blockquote {padding:20px 40px;background:url(../images/nav-bg3.jpg); margin-bottom:20px;}
.std p {margin-bottom:20px;}
.std ul,
.std ol { margin:0 0 20px 25px;}

.std ul li{list-style: square;}
.std ol li{list-style: upper-alpha;}

/*.std a, :not(.product-name a) {color:#339999;text-decoration: underline;}*/
a:hover,
.std a:hover,
.std a:active{text-decoration: none;}

hr {padding: 0;margin:5px 0;width:100%;height:1px;border-top:2px solid #aed9d3;border-left:0;border-right:0;}

/* cart */
.cart-collaterals .discount {margin-top:0;background:#888;margin-bottom:20px;color: #fff; padding: 10px}
.cart-collaterals .discount h2 {color: #fff}
.cart-collaterals .input-box input.input-text { width:90%;}
.cart > .checkout-types {display:none;}
.cart-collaterals .discount .buttons-set button.button {color:#333;background: #c7c5c1;border-color:#7d7c7a;}
.cart-collaterals .discount .buttons-set button.button:hover {color:#fff;}
.cart-collaterals .shipping {padding: 15px; border:1px solid #ddd; margin:0 0 0 40px;}
.cart-collaterals .totals.grid_4 {width: 265px !important; padding: 15px; border:1px solid #ddd; float: right; margin:0;}
.cart-collaterals .totals.grid_4 table#shopping-cart-totals-table { float: right; margin: 9px 0; width: 100%;}
.cart-collaterals .totals.grid_4 table#shopping-cart-totals-table td {border-bottom: 1px solid #ddd; margin:9px 0 8px 15px; padding:9px 10px 8px 0;}
.cart-collaterals .totals.grid_4 .checkout-types {text-align: right}
.cart-collaterals .totals.grid_4 .checkout-types .paypal-or { clear: both;display: block;padding: 8px 55px 0 0; line-height: 1.0; font-size: 11px}
div#AmazonPayButtonMethod {padding-top: 10px}
@media only screen and (max-width: 767px) {
body .cart-table .a-center, .cart-table .a-right.itemwisetotal {
    display: table-cell;
}
#shopping-cart-table > tbody > tr > td > a > img, #shopping-cart-table > tbody > tr > td > img{
	display:none;
}
.checkout-cart-index fieldset{
	margin-left:-25px;
}
}
/* checkout */
.one-step-checkout h1.checkout_header {text-transform: inherit !important;}

.one-step-checkout button.btn-checkout {background: #5a513a;padding:0 20px !important;line-height: 50px !important;width: 100% !important;}
.one-step-checkout button.btn-checkout:hover {background: #006666;}
.one-step-checkout button.btn-checkout span {background:none !important;color:#fff;float:none;}
.one-step-checkout button.btn-checkout span span {color:#fff;font-size:25px !important;padding:0;line-height: inherit;white-space: nowrap;}
.onestepcheckout-place { width: 100% !important;}

/* clearfix */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

#nav li.level1 {
    width: 90%;
}

@media only screen and (max-width: 959px) and (min-width: 768px) {
    .grid_4 {
        width: 205px;
        border: 0;
    }
}

/* social media links & newsletter signup */
.social { overflow: hidden; }
.social-newsletter-join { float:left; width:auto; padding-right: 20px; padding-top: 10px; }
.form-subscribe { display:inline; }
.form-subscribe button { float:right; }
.social .social-newsletter .form-subscribe{ float:none; }
.form-subscribe .input-box { display:inline; }
.form-subscribe .input-box input{ width: 50% !important; }

/*header*/
@media screen and (min-width:736px){
	body .ms-megamenu .ms-topmenu{
	margin:20px 0;
	border-top: 1px solid #e5e5e5;
	align-items: center;
	height: 70px;
	}
	body .ms-topmenu .ms-label{
		padding: 0 15px;
	}
	.ms-topmenu .ms-level0{
		padding: 2px 20px 1px;
		border-right: 1px solid #e5e5e5;
		height: 27px;
	}
}
.price-box, .ms-featured .product-name.form-group{
	text-align:center;
}
.ms-featured .product-name.form-group strong {
    font-weight: normal;
}
.header .container{
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
	width:100%;
}
.cms-index-index .header .logo{
	position:static!important;
}
.header .add-info-1 a{
	font-size:20px;
}
.header .add-info-1 a:hover{
	color:#33b2ff;
	text-decoration:underline;
}
.header .add-info-1 span{
	font-size:14px;
	color:#888888;
}
.fw-banner{
	background: #282828;
    text-align: center;
    padding: 13px 10px;
    margin-bottom: 1vw;
}
.fw-banner .fw-banner_slogan #fw-banner_slogan{
	text-transform: uppercase;
    font-family: "Teko", sans-serif;
    font-size: 20px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: 0.7px;
    margin-bottom: -3px;
    max-width: 220px;
    color: #33b2ff;
}
.header .megamenu-pc.ms-megamenu{
	margin-top:0;
}
.header .ms-megamenu .f-product .product-image:hover{
	transform:none;
}
@media screen and (max-width:1025px){
	.header .container{
		justify-content: space-evenly;
	}
}
@media screen and (max-width:736px){
	.add-info-1, .social-links, .fw-banner{
		display:none;
	}
	.header .megamenu-pc.ms-megamenu{
		margin-top:30px;
	}
	.quick-access{
		margin-bottom:-1.5rem;
	}
	.header-container {padding-top:10px;}
}

/*home-slider*/
html .bx-wrapper .bx-controls-direction a{
	z-index:1!important;
}
/*ratings */
.rating-wrap{
	display: flex;
    align-items: center;
}
.rating-wrap p{
	margin-right: 36px;
    margin-bottom: 0;
	min-width:50px;
}
.cart-table-wrap {
  display: inline-block;
}
.cart-table-wrap * {
  float: right;
}
.cart-table-wrap input {
  display: none;
}
.cart-table-wrap label {
  font-size: 30px;
  color: white;
  text-shadow: -1px 0 #ffd200, 0 1px #ffd200, 1px 0 #ffd200, 0 -1px #ffd200;;
}

.cart-table-wrap input:checked ~ label {
  color: #ffd200;
}

.cart-table-wrap label:hover,
.cart-table-wrap label:hover ~ label {
  color: #ffd200;
}

.cart-table-wrap input:checked ~ label:hover,
.cart-table-wrap input:checked ~ label:hover ~ label {
  color: #ffd200 !important;
}
#customer-reviews .form-list input, #customer-reviews .form-list textarea{
	display: block;
    width: 100%;
    padding: 0.44rem 1rem;
    font-size: 16px;
    line-height: 1.5rem;
    font-family: "Teko", sans-serif;
    border: none;
    background: #f2f2f2;
    color: #282828;	
}
.product-view .box-reviews fieldset{
    margin-top: 42px;
    border-top: 1px solid rgba(192, 192, 192, 0.39);	
}
#customer-reviews .form-list li{
	width:90%;
}
#customer-reviews .form-list li label{
	padding: 0;
    display: inline-block;
    font-size: 16px;
    color: #282828;
    text-transform: uppercase;
    letter-spacing: 2px;
}
button[title="Submit Review"]{
	background: #33b2ff;
    padding: 16px 26px 12px;
    display: inline-block;
    border-radius: 200px!important;
    position: relative;
    z-index: 0;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    text-transform: uppercase;
    color: #FFF;
    font-size: 20px;
    letter-spacing: 2px;
	margin-right:9px;
}

/* Checkout Page fixes */
.one-step-checkout button {
    background: #018fd6 !important;
    color: white;
}

/*Home Page Fixes */

.home-products li.item {
    height:auto;
}

.std .home-products p {
    margin-bottom: 0;
}

/*removing edit button from checkout */

#shopping-cart-table td.a-center.edititem {
    display: none;
}

#shopping-cart-table td.a-center.wishlistitem {
    display: none;
}

/* product grid and list fixes */

/* ratings getting them to look uniform*/
.products-grid .ratings {
    /*margin:0;*/
    height: 0;
    position: relative;
    /*margin:10px 0 30px 0;*/
    margin:0 auto;
    text-align: center;
}
/*set height for product name to allow for ratings */
.products-grid .product-name {
    min-height:91px;
}

/*minor tweak to homepage*/
.cms-home .products-grid .product-name {
    min-height:20px;
}

.grouped-add-to-cart {
    margin-top: 25px!important;
}
/*product list */


.category-products .products-list .grouped-add-to-cart {
    margin-left:0!important;
    text-align:left;
    width: 100%;
}
.category-products .products-list .grouped-add-to-cart .regular-price .price {
	padding:0 0 0 0!important;
}

.category-products .products-list .price-box {
    float:none;
    margin:9px 0;
}

.category-products .products-list .grouped-add-to-cart .price-box:nth-of-type(2) {
    padding-left: 7px;
}

.category-products .products-list .ratings {
    height:auto;
    top:0;
    text-align:left;
}


.category-products .products-list .f-fix {
    max-width:500px;
}

@media only screen and (max-width: 767px) {
    .ratings {
        width:auto;
    }
}

/*fixing sale items price and button alignment for this size, across entire website*/
@media only screen and (max-width: 959px) and (min-width: 768px) {
    .products-grid .product-name a {
        font-size:18px;
    }
        
    .products-grid .grouped-add-to-cart {
        font-size:8px;
    }
    .products-grid .special-price .price-label {
        font-size:8px;
    }
    .products-grid .special-price .price {
        font-size:8px;
    }
    .products-grid .old-price {
        padding-top: 10px;
    }
    .products-grid .old-price .price-label {
        font-size:8px;
    }
    
    .products-grid .old-price .price {
        font-size:8px;
    }

}

/*Success Page */
.up-title{
	text-align:center;
}
.up-yes{
	background:green;
	text-align:center;
	padding:10px;
	font-size:20px;
	color:white;
	width:100%;
}
.up-no{
	text-align:center;
	padding:10px;
	font-size:15px;
    width:auto;
    color:white;
    margin-top: 25px;
    background-color:#AAAAAA;
}
.banner-img{
    width: 75%;
    margin: 10px auto 20px auto;
    display: block;
}
.up-points.up-points-container{
	display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
	margin-bottom: 40px;
	padding-left: 40px;
}
.up-points li{
	padding:10px;
	text-align: left;
}
.up-terms{
	margin-top:10px;
	text-align:center;
}

/* # Holiday Page - and setting standards for flexbox */

.flex-row {
    display: flex;
    flex-wrap:wrap;
}

.flex-col {
    flex-grow: 1;
    flex-direction: column;
    height:550px;
}
.flex-horizontal {
    width:100%;
}
.flex-2 {
    flex-grow:2;
}
.flex-3 {
    flex-grow:3;
}
.flex-4 {
    flex-grow:4;
}
.flex-5 {
    flex-grow:5;
}
.flex-9 {
    flex-grow:9;
}
.flex-item {
    flex-grow: 1;
    margin: .5rem;
    min-width:150px;
    min-height: 150px;
}

.sn-holiday-container {
    margin-bottom:3rem;
}
.sn-holiday-header-img {
    max-width:100%;
}
.sn-holiday-banner-img {
    display: block;
    max-width: 40%;
    margin: 1rem auto;
    margin-top: 1.5rem;
}
.sn-holiday-row {
    min-height:500px;
}
.sn-holiday-row a {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.sn-holiday-row a:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sn-holiday-item1 {
    background: url(/skin/frontend/default/mobileshoppe/images/bamboo+wintergreen.jpg);
    background-size: cover;
    flex-grow:3;
}
.sn-holiday-item2 {
    background: url(/skin/frontend/default/mobileshoppe/images/healing-remedies-book+esquisite-kit.jpg);
    background-size: cover;
    background-position:center;
}
.sn-holiday-item3 {
    background: url("/skin/frontend/default/mobileshoppe/images/women's-kit.jpg");
    background-size: cover;
    background-position:center;
}

.sn-holiday-item4 {
    background: url(/skin/frontend/default/mobileshoppe/images/red-case.jpg);
    background-size: cover;
    background-position:center;
    flex-grow: 3;
}

.sn-holiday-item5 {
    background: url("/skin/frontend/default/mobileshoppe/images/oil-of-the-month.jpg");
    background-size: cover;
    background-position:center;
}

.sn-holiday-item6 {
    background: url(/skin/frontend/default/mobileshoppe/images/premium-oil-of-the-month.jpg);
    background-size: cover;
    background-position:center;
    flex-grow: 3;
}
.sn-holiday-item7 {
    background: url("/skin/frontend/default/mobileshoppe/images/charcoal-bag-cypress.jpg");
    background-size: cover;
    background-position:center;
}
.sn-holiday-item8 {
    background: url("/skin/frontend/default/mobileshoppe/images/hemp+massage-oil.jpg");
    background-size: cover;
    background-position:center;
}
.sn-holiday-item9 {
    background: url("/skin/frontend/default/mobileshoppe/images/hair-gel+legend.jpg");
    background-size: cover;
    background-position:center;
}
.sn-holiday-item10 {
    background: url("/skin/frontend/default/mobileshoppe/images/naterre-spice-blend.jpg");
    background-size: cover;
    background-position:center;
}
.sn-holiday-item11 {
    background: url("/skin/frontend/default/mobileshoppe/images/mirage+fir.jpg");
    background-size: cover;
    background-position:center;
}
.sn-holiday-item12 {
    background: url("/skin/frontend/default/mobileshoppe/images/4-pk-tin.jpg");
    background-size: cover;
    background-position:center;
}
.sn-holiday-item13 {
    background: url("/skin/frontend/default/mobileshoppe/images/essential-pack-15ml.jpg");
    background-size: cover;
    background-position:center;
}
.sn-holiday-item14 {
    background: url("/skin/frontend/default/mobileshoppe/images/dream-salve.jpg");
    background-size: cover;
    background-position:center;

}
.sn-holiday-item15 {
    background: url("/skin/frontend/default/mobileshoppe/images/healthy-child-book+jeddy's.jpg");
    background-size: cover;
    background-position:center;

}
.sn-holiday-item16 {
    background: url("/skin/frontend/default/mobileshoppe/images/roller+almond+shield.jpg");
    background-size: cover;
    background-position:center;
}
.sn-holiday-item17 {
    background: url("/skin/frontend/default/mobileshoppe/images/health-and-wellness-kit.jpg");
    background-size: cover;
    background-position:center;
}
.sn-holiday-item18 {
    background: url("/skin/frontend/default/mobileshoppe/images/clutch+clove.jpg");
    background-size: cover;
    background-position:center;
}
.sn-holiday-item19 {
    background: url("/skin/frontend/default/mobileshoppe/images/diffuser-blends-kit.jpg");
    background-size: cover;
    background-position:center;
    flex-grow:5;
}
.sn-holiday-item20 {
    background: url("/skin/frontend/default/mobileshoppe/images/essential-4-pack-5ml.jpg");
    background-size: cover;
    background-position:center;
    flex-grow:3;
    min-height: 190px;
}
.sn-holiday-item21 {
    background: url("/skin/frontend/default/mobileshoppe/images/lotion-+-body-care-book.jpg");
    background-size: cover;
    background-position:center;
    flex-grow:2;
}
.sn-holiday-item22 {
    background: url("/skin/frontend/default/mobileshoppe/images/fco+bliss.jpg");
    background-size: cover;
    background-position:center;
}
.sn-holiday-item23 {
    background: url("/skin/frontend/default/mobileshoppe/images/gum-and-mints.jpg");
    background-size: cover;
    background-position:center;
}
.sn-holiday-item24 {
    background: url("/skin/frontend/default/mobileshoppe/images/sanitizer-+-lip-balm-2.jpg");
    background-size: cover;
    background-position:center;
}
.sn-holiday-item25 {
    background: url("/skin/frontend/default/mobileshoppe/images/mini-salves.jpg");
    background-size: cover;
    background-position:center;
}
.sn-holiday-item26 {
    background: url("/skin/frontend/default/mobileshoppe/images/base+relief+llp.jpg");
    background-size: cover;
    background-position:center;
}
.sn-holiday-item27 {
    background: url("/skin/frontend/default/mobileshoppe/images/rose-water.jpg");
    background-size: cover;
    background-position:center;
}
.sn-holiday-item28 {
    background: url("/skin/frontend/default/mobileshoppe/images/terra-cotta+harmony.jpg");
    background-size: cover;
    background-position:center;
}
.sn-holiday-item29 {
    background: url("/skin/frontend/default/mobileshoppe/images/cleaning-kit.jpg");
    background-size: cover;
    background-position:center;
    min-height:225px;
}
.sn-holiday-item30 {
    background: url("/skin/frontend/default/mobileshoppe/images/sanity-kit.jpg");
    background-size: cover;
    background-position:center;
    flex-grow:3;
}

@media only screen and (max-width: 479px) {
    .cms-holiday-guide .megamenu-pc.ms-megamenu {
        min-height: 25px!important;
    }
    .sn-holiday-banner-img {
        max-width:100%;
    }
}
@media (max-width: 779px) {
.ms-megamenu .ms-topmenu {
    max-height: 100%;
    overflow: auto;
}
}

/* # Upsell Pages */
/* logo size*/
.up-header img {
    max-width: 250px;
    margin-bottom:1rem;
}

h1.up-title {
    font-size: 2.5rem;
    font-weight: 600;
}
.up-top .banner-img {
    width: 65%;
    height: auto;
    margin: 0 auto;
}
/*.oot-img {
    width: 100%;
    height: auto;
    margin: 40px auto;
}*/
.site-orange {
    color: #fbaf2f;
}
.up-yes-text {
    font-size: 17px;
    color: #018fd6;
    text-decoration:underline;
}

.up-no-container {
    text-align: center;
    font-size: 20px;
    border-radius: 4px;
    max-width: 50%;
    margin:auto;
    padding: 10px 0;
    margin-top: 50px;
    background-color:#AAAAAA;
}
.strikethrough {
    text-decoration: line-through;
}
@media (max-width: 779px) {
    .up-points li {
        width:100%;
    }
    h1.up-title {
        font-size: 26px;
    }
	.up-top .banner-img{
		width:75%;
	}
	.up-points.up-points-container{
		display: block;
		padding-left: 100px;
	}
    .up-yes-text {
        display:none;
    }
}


/*Upsell Template 2 */
.d-none {
    display:none;
}
.upsell-template2 .flex-col {
    height:auto;
}
.upsell-template2 {
    max-width: 775px;
    margin: auto;
    border: 8px black solid;
}
.upsell-template2 .content {
    padding: 2rem 2rem .5rem 2rem;
}
.upsell-heading {
    margin-top: 2rem;
}
.upsell-template2 h1, .upsell-template2 h2 {
    color: black;
    margin:0;
}
.upsell-heading h1 {
    font-size:2.5rem;
}
.upsell-template2 .up-no {
    margin-top:0;
}
.grey-line {
    height:2px;
    width:100%;
    background-color: #ccc;
    margin:.5rem;
}
.flex-col.orange-dot {
    max-width: 15px!important;
}
.orange-dot {
    background-color: orange;
    width: 15px!important;
    height: 15px!important;
    border-radius: 100px;
    margin-top:5px;
}
.bg-orange {
    background-color: #FEE098;
}
.upsell-template2 .reasons {
    margin-bottom:1.5rem;
    max-width: 450px;
}
.upsell-template2 .reasons h2 {
    color:grey;
}
.upsell-template2 .up-no {
    margin-top: 0;
    min-height: 90px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    background-color: #ddd;
    background-image: linear-gradient(-180deg, #EEEEEE 0%, #ccc 100%);
}
.upsell-template2 .up-yes {
    background: #FEE098;
    background-image: linear-gradient(-180deg, #FFF2C9 0%, #FED46F 100%);
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding:15px;
}

.upsell-template2 .h1 {
    font-size: 1.5rem;
}

.upsell-cta {
    text-align: center;
}
.upsell-middle {
    position: relative;
}

/* POOTM variances */
.img-medium {
    max-width:250px;
}
.upsell-tag {
    background-color: #1395FF;
    color: white;
    width: 125px;
    padding: 5px 0;
    line-height: 1.1;
    font-size: 1rem;
    position: relative;
    margin-top: -4rem;
    left: 7rem;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    -o-transform: rotate(-8deg);
    filter: progid:DXImageTransform.Micros;
}
.pootm-content .orange-dot {
    background-color:#84BE2D;
}
.upsell-template2 .pootm-content .up-yes {
    background-image: linear-gradient(-180deg, #BAE059 0%, #84BE2D 100%);
    border: 1px solid #979797;
}
.pootm-content .grey-line {
    margin: 1.5rem;
    width:auto;
}
.pootm-content .up-yes, .pootm-content .up-no {
    color: white;
}
.pootm-content .up-no {
    background-color:#888888;
    background-image: linear-gradient(-180deg, #EEEEEE 0%, #888888 100%);
}

@media only screen and (max-width: 713px) {
    .upsell-heading {
        -ms-flex-order: 2;
        order: 2;
    }
    .upsell-bottom .flex-col {
        margin-top:10px;
    }
    .upsell-template2 .up-no {
        width:100%;
    }
}
@media only screen and (min-width: 714px) and (max-width: 776px) {
    .upsell-bottom .flex-col {
        max-width:325px!important;
    }
}
@media only screen and (min-width: 714px) {
    .d-md {
        display:block;
    }
    .upsell-template2 .flex-col {
        max-width: 400px;
    }

    .upsell-template2 .reasons {
        margin-left: 5rem; /* desktop only*/
    }

    .upsell-ootm .upsell-middle {
        margin-top: -2rem;
    }
    .upsell-img {
        -ms-flex-order: 1;
        order: 1;
    }
    
    .upsell-cta {
        text-align: left;
    }
    .btn-text {
        max-width: 275;
    }
}
@media only screen and (max-width: 767px) {
    .pootm-content .upsell-heading {
        -ms-flex-order: 2;
        order: 2;
    }
    .pootm-content .upsell-bottom .flex-col {
        margin-top:10px;
    }
    .pootm-content .up-no {
        width:100%;
    }
    .pootm-content .upsell-cta {
        text-align:center;
    }
    .pootm-content .reasons {
        margin-left:0;
    }
}
@media only screen and (min-width: 768px) {
    /*POOTM Variances */
    .pootm-content .flex-col {
        max-width:375px;
    }
    .pootm-content .upsell-heading {
        margin-top: 5rem;
        margin-left: -9rem;
    }
    .upsell-tag {
        margin-top: -2.5rem;
        left: 6rem;
    }
    .pootm-content .upsell-cta {
        position: relative;
        left: 9rem;
        margin-top: -3rem;
    }
    .pootm-content .reasons {
        margin-left: 6rem;
        margin-top: 1rem;
    }
    .pootm-content .upsell-img {
        order: inherit;
    }
    .pootm-content .up-no {
        min-width: 281px;
    }
    .pootm-content .upsell-top {
        margin-left: -3rem;
    }
    .pootm-content .upsell-middle {
        left:4rem;
    }
}
