<?php if( $this->isTokenbase() ): ?>

	<table class="form-list">
		<tr>
			<td style="width:175px"><?php echo $this->__('Last Billed:'); ?></td>
			<td><strong><?php echo $this->getLastBilled(); ?></strong></td>
		</tr>
		<tr>
			<td><?php echo $this->__('Next Cycle:'); ?></td>
			<td><strong><?php echo $this->getNextBilled(); ?></strong></td>
		</tr>
		<tr>
			<td><?php echo $this->__('Payments&nbsp;Made:'); ?></td>
			<td><strong><?php echo $this->getProfile()->getAdditionalInfo('billed_count'); ?></strong></td>
		</tr>
		<?php if( $this->getProfile()->getAdditionalInfo('failure_count') > 0 ): ?>
			<tr>
				<td><?php echo $this->__('Payments&nbsp;Failed:'); ?></td>
				<td><strong><?php echo $this->getProfile()->getAdditionalInfo('failure_count'); ?></strong></td>
			</tr>
		<?php endif; ?>
		<?php if( $this->getProfile()->getAdditionalInfo('outstanding') > 0 ): ?>
			<tr>
				<td><?php echo $this->__('Outstanding:'); ?></td>
				<td><strong>$<?php echo round( $this->getProfile()->getAdditionalInfo('outstanding'), 2 ); ?></strong></td>
			</tr>
		<?php endif; ?>
		<tr>
			<td><?php echo $this->__('Payment Account:') ?></td>
			<td>
				<?php if( $this->getCard() ): ?>
					<strong><?php echo $this->getCard()->getLabel(); ?></strong><br />
				<?php else: ?>
					<?php echo $this->__('None'); ?><br />
				<?php endif; ?>
			</td>
		</tr>
		<!-- AC Added Table For Edit Billing Link -->
		<tr>
			<td><br><strong><a href="<?php echo $this->getUrl('customer/recurringprofile/edit', array('profile' => $this->getProfile()->getId())) ?>"><?php echo $this->__('Edit Billing Information') ?></a></strong></td>

		</tr>
	</table>
	
<?php endif; ?>
