<?php
/**
 * @namespace   Levementum
 * @module      Analytics
 * @file        facebook.phtml
 * @author      icoast@levementum.com
 * @date        7/28/2015 6:39 PM
 * @brief
 * @details
 */
/** @var Crimson_Analytics_Block_Facebook $this */
$events = $this->getTrackEvents();
$actionName = $this->helper('crimson_analytics')->getFullActionName();
?>
<!-- Facebook Pixel Code -->
<script>
    !function (f, b, e, v, n, t, s) {
        if (f.fbq) {return;}
        n = f.fbq = function () {n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments)};
        if (!f._fbq) {f._fbq = n;}
        n.push = n;n.loaded = !0;n.version = '2.0';n.queue = [];
        t = b.createElement(e);t.async = !0;t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window, document, 'script', '//connect.facebook.net/en_US/fbevents.js');
    fbq('init', '<?php echo $this->getPixelCode() ?>');
    fbq('track', 'PageView');

    <?php foreach ($events as $key => $eventData): ?>
        <?php if (is_array($eventData)): ?>
            fbq('track','<?php echo $key; ?>', <?php echo $this->helper('core')->jsonEncode($eventData); ?>);
        <?php else: ?>
            fbq('track','<?php echo $eventData; ?>');
        <?php endif; ?>
    <?php endforeach; ?>
    <?php if ($actionName == 'checkout_onepage_index'): ?>
        //track payment data.
        var paymentTriggered = false;
        function injectPaymentTrack() {
            if (typeof Checkout != 'function') {
                setTimeout(injectPaymentTrack, 50);
            } else {
                Checkout.prototype.originalGotoSection = Checkout.prototype.gotoSection;
                Checkout.prototype.gotoSection = function (section, reloadProgressBlock) {
                    this.originalGotoSection(section, reloadProgressBlock);
                    if (!paymentTriggered && section == 'payment') {
                        fbq('track', 'AddPaymentInfo');
                        paymentTriggered = true;
                    }
                }
            }
        }
        injectPaymentTrack();
    <?php endif; ?>
</script>
<noscript>
    <img height="1" width="1" style="display:none"
               src="https://www.facebook.com/tr?id=<?php echo $this->getPixelCode() ?>&ev=PageView&noscript=1" />

    <img height="1" width="1" alt="" style="display:none"
         src="https://www.facebook.com/tr?ev=6050019656520&amp;cd[value]=<?php echo $this->quoteEscape(number_format($this->getOrderTotal(),2)); ?>&amp;cd[currency]=<?php echo $this->quoteEscape($this->getOrderCurrency()) ?>&amp;noscript=1" />
</noscript><!-- End Facebook Pixel Code -->
<?php if (isset($events['Purchase'])): ?>
    <?php // request by Toby in addition to other pixel. ?><!-- Facebook Conversion Code for Spark Naturals - Checkouts -->
    <script>(function() {
            var _fbq = window._fbq || (window._fbq = []);
            if (!_fbq.loaded) {
                var fbds = document.createElement('script');
                fbds.async = true;
                fbds.src = '//connect.facebook.net/en_US/fbds.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(fbds, s);
                _fbq.loaded = true;
            }
        })();
        window._fbq = window._fbq || [];
        window._fbq.push(['track', '6050019656520', {'value':'<?php echo $this->jsQuoteEscape(number_format($this->getOrderTotal(),2)); ?>','currency':'<?php echo $this->jsQuoteEscape($this->getOrderCurrency()); ?>'}]);
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6050019656520&amp;cd[value]=<?php echo $this->quoteEscape(number_format($this->getOrderTotal(),2)); ?>&amp;cd[currency]=<?php echo $this->quoteEscape($this->getOrderCurrency()); ?>&amp;noscript=1" /></noscript>
<?php endif; ?>