<!--@subject Failed Billing Alert@-->
<!--@vars
{"var data.name":"Sender Name",
"var data.email":"Sender Email",
"var data.telephone":"Sender Telephone",
"var data.comment":"Comment"}
@-->
<h2>Failed Membership transaction alert</h2>
<ul>
    The following recurring profile failed billing
    <li>Reason {{var reason}}</li>
    <li>Subscription : {{var data.schedule_description}}</li>
    <li>Customer :  {{var order_info.customer_firstname}} {{var order_info.customer_lastname}}</li>
    <li>Customer Email : {{var order_info.customer_email}}</li>
    <li>Customer Phone : {{var phone}}</li>
    <li>Amount : {{var data.billing_amount}}</li>
</ul>
