<!--@subject Oil of the Month Transaction Details @-->
<h2>Subscription for {{var data.schedule_description}} failed billing</h2>

<p>Thank you for your business with Spark Naturals. We wanted to let you know the payment for your Oil of the Month subscription was declined. You are able to contact your credit card provider for more information as to why the transaction did not go through successfully.</p>
<p>If you would like to provide alternate payment for this order or any Oil of the Month orders going forward, please
    contact us directly with the payment information and we will be able to assist you. Customer Service can be reached by call 385-203-8378 or email at customerservice@sparknaturals.com, Monday - Friday, 9:00am - 5:00pm EST. You can also login to your Spark Naturals account and update the
    payment information for your subscription, keep in mind that this will only update it for future oil of the month
    orders and if you would like to receive this month’s oil you will need to contact us to make arrangements.</p>

<p>Please let us know if you have any questions or concerns.</p>

<p>Do not reply to this email</p>
<hr />
<p><i>
    This message contains confidential information and is intended only for the individual named.
    If you are not the named addressee, you should not disseminate, distribute or copy this email.
    Please notify the sender immediately by email if you have received this email by mistake and delete this email from your system.
    Email transmission cannot be guaranteed to be secure or error-free, as information could be intercepted, corrupted, lost, destroyed, arrive late or incomplete, or contain viruses.
    The sender, therefore, does not accept liability for any errors or omissions in the contents of this message which arise as a result of email transmission.
</i></p>